@import 'leaflet/dist/leaflet.css';

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

/* Fix for marker icons */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  width: 25px !important;
  height: 41px !important;
}
